<p id="notice"><%= notice %></p>
<div class="content-flex">
  <%= render 'layouts/side_menu' %>
<div class="blog-content" style="flex:0 1 80%">
<h3><%= link_to "Tom's BLOG", blogs_path %></h3>
<%= link_to 'New Blog', new_blog_path %>
</div>
</div>
