<nav>
  <div class="nav-wrapper navbar-list">
    <a class="brand-logo header-logo">Tom's OFFICE & HOUSE</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down header-content">
      <li><a href="/blogs">Blog</a></li>
      <li><a href="/admin">Dashboard</a></li>
    </ul>
  </div>
</nav>
